<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap + jQuery -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>

    <header>
    </header>

    <body>

        <div class="jumbotron">
            <h1>IBM Watson Visual Recognition API</h1>
            <hr>
            <h2>IBM Watson Visual Recognition Detecting Faces</h2>
            <img src='<%= mytext %>'>
            <p>Image File: <a href='<%= mytext %>'><%= mytext %></a></p>
            <form action="/" method="GET" role="form">
                <button style="margin-left: 50px" type="submit" class="btn btn-primary btn-sm">Detect More Faces</button>
            </form>
            <hr>
            <h2>IBM Watson Visual Recognition Detect Faces Data</h2>
                <table>
                    <tr>
                        <th>Age</th>
                        <th>Face Location(height, left, top, width)</th>
                        <th>Gender</th>
                    </tr>
                    <% images.forEach(function(image) { %>
                        <tr>
                            <td><%= 'Between ' + image.age.max + ' and ' + image.age.min + ' at a confidence score of ' + image.age.score %></td>
                            <td><%= image.face_location.height + ', ' + image.face_location.left + ', ' + image.face_location.top + ', ' + image.face_location.width %></td>
                            <td><%= image.gender.gender %></td>
                        </tr>
                    <% }); %>
                </table>
        </div>
    
    </body>

    <footer>
    </footer>

</html>
